/* CSS declarations go here */
body {
    font-size: 20px;
    background-color: black;
}

#chat-area {
    background-color: black;
    height: 400px;
    color: cornsilk;
    overflow: auto;
    font: inherit;

    /*display: flex;*/
    /*-webkit-box-orient: vertical;*/
    /*-webkit-box-direction: normal;*/
    /*flex-direction: column;*/
    /*overflow-x: hidden;*/
    /*overflow-y: scroll;*/
    /*position: relative;*/
}

textarea {
    line-height: 1;
    resize: none;
}

.messages span {
    display: inline-block;
}

.messages .username {
    height: 100%;
    font-size: 18px;
    /*border: 3px solid cornsilk;*/
}

.text-msg {
    position: relative;
    word-wrap: break-word;
    max-width: 100%;
    margin: 0 0 25px 0;
    float: left;
    padding: 10px;
    background-color: #000;
    border: 4px solid #666;
    border-radius: 15px;
    font-size: 20px;
    /*box-shadow: 2px 2px 4px #888;*/
}

.text-msg-user {
    position: relative;
    word-wrap: break-word;
    max-width: 100%;
    margin: 0 0 25px 0;
    float: right;
    padding: 10px;
    background-color: #000;
    border: 4px solid #666;
    border-radius: 15px;
    font-size: 20px;
}

.text-msg:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    right: 100%;
    top: 10px;
    border: 15px solid;
    border-color: transparent #666 transparent transparent;
}

.text-msg:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    right: 100%;
    top: 15px;
    border: 10px solid;
    border-color: transparent #000 transparent transparent;
}

.text-msg-user:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 100%;
    top: 10px;
    border: 15px solid;
    border-color: transparent transparent transparent #666;
}

.text-msg-user:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 100%;
    top: 15px;
    border: 10px solid;
    border-color:  transparent transparent transparent #000;
}

.time {
    font-size: 10px;
}